
    <footer>

      <section class="">
        <div class="container text-center text-md-start mt-5 ">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Sobre nosaltres</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis quos animi sint aliquid odio nemo quibusdam fuga voluptatum optio. Totam itaque nostrum omnis ipsam ea perspiciatis culpa rerum, distinctio amet.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Productes</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Camisetes</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Gorres</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Mocadors</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Informació</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Mapa del lloc web</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Política de privacitat</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Política de cookies</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Lorem, ipsum dolor sit amet consectetur </p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
          <img src="./assets/images/logo.png" alt="..." height="80">
        </a>   
        <!-- enlaces -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="fa-solid fa-house"></i> Poratada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pagina2.html"><i class="fa-solid fa-user-group"></i> Membres del grup</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="pagina3.html"><i class="fa-solid fa-tv"></i> Notícies</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="pagina4.html"><i class="fa-regular fa-address-book"></i> Galeria</a>
          </li>            
        </ul>
      
         <div>  
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="w"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
    </div> 
  </nav>  
  </footer>
    
  